# Lista de Exercícios 3 (simulado de prova)

Responda aos exercícios abaixo nos locais indicados.

Após terminar, salve o notebook com suas alterações e feche o navegador, saida da sua área e desligue o computador.

Não é necessário mudar o nome do arquivo ou colocar o seu nome em qualquer.

Não se esqueça de colocar seu nome e entregar ao professor antes de sair a fita com o seu nome de usuário e senha.

## 1

Complete a função `split` abaixo que recebe uma lista (parâmetro `original`) e um número inteiro não-negativo (parâmetro `n`) e retorna duas listas, a primeira lista retornada tem os `n` primeiro elementos da lista `original`, a segunda lista tem os elementos restantes. Se `original` tem menos do que `n` elementos, todos serão retornados na primeira lista e a segunda lista será vazia.

In [1]:
def split(original, n):
    primeira = []
    segunda = []
    if n < len(original):
        for item in range(n):
            primeira.append(original[item])
        for item in range(n,len(original)):
            segunda.append(original[item])
    else:
        for item in original:
            primeira.append(item)
    return primeira, segunda

In [2]:
# Esta célula tem alguns teste. Não altere o código desta célula.
a, b = split([1, 2, 3, 4], 2)
assert a == [1, 2] and b == [3, 4], 'test 1 failed'
a, b = split([1, 2, 3, 4, 5], 1)
assert a == [1] and b == [2, 3, 4, 5], 'test 2 failed'
a, b = split([1, 2, 3, 4, 5], 0)
assert a == [] and b == [1, 2, 3, 4, 5], 'test 3 failed'
a, b = split([1, 2, 3, 4, 5], 5)
assert a == [1, 2, 3, 4, 5] and b == [], 'test 4 failed'
a, b = split([1, 2, 3, 4, 5], 6)
assert a == [1, 2, 3, 4, 5] and b == [], 'test 5 failed'
a, b = split([1], 1)
assert a == [1] and b == [], 'test 6 failed'
a, b = split([1], 0)
assert a == [] and b == [1], 'test 7 failed'
a, b = split([1], 2)
assert a == [1] and b == [], 'test 8 failed'
for i in range(10):
    a, b = split([], i)
    assert a == [] and b == [], f'test 9 failed at iteration {i}'

## 2

A função abaixo deve ser uma função geradora que gera a sequência, começando em 3, de todos os múltiplos de 3 que não são também múltiplos de 5. Não existe um critério de parada. O gerador deve gerar tantos valores da sequência quantos forem solicitados.

Por exemplo, os 10 primeiros valores da sequência são:

    3 6 9 12 18 21 24 27 33 36

In [3]:
def multiples_of_3_but_not_5():
    number = 3
    while 0==0:
        if number%3 == 0 and number%5 != 0:
            yield number
        else:
            while number%3 != 0 or number%5 == 0:
                number += 1
            yield number
        number +=1

In [4]:
# Código de teste. Não altere este código.
def get_some(generator, n):
    return [next(generator) for _ in range(n)]
assert get_some(multiples_of_3_but_not_5(), 1) == [3], 'test 1 failed'
assert get_some(multiples_of_3_but_not_5(), 4) == [3, 6, 9, 12], 'test 2 failed'
assert get_some(multiples_of_3_but_not_5(), 5) == [3, 6, 9, 12, 18], 'test 3 failed'
assert get_some(multiples_of_3_but_not_5(), 10) == [3, 6, 9, 12, 18, 21, 24, 27, 33, 36], 'test 4 failed'
m1 = multiples_of_3_but_not_5()
assert get_some(m1, 4) == [3, 6, 9, 12], 'test 5 failed'
assert get_some(m1, 4) == [18, 21, 24, 27], 'test 6 failed'
assert get_some(m1, 4) == [33, 36, 39, 42], 'test 7 failed'

## 3

A classe `Time` abaixo pretende representar o horário do dia como horas, minutos e segundos. Dado um objeto da classe (digamos, `t`), uma chamada `t.tick()` incrementa os segundos, ajustando minutos e horas de acordo com o necessário. Ao passar das 23:59:59, um novo *tick* vai colocar o horário em 00:00:00.

Uma chamada `t.get_time()` deve retornar uma tupla de inteiros, cujo primeiro valor é a hora, o segundo os minutos e o terceiro os segundos.

Veja também os exemplos de uso no código de testes, especialmente quanto a opções de criação de objetos.

Implemente a classe. Use a representação que julgar apropriada, desde que a interface dos métodos seja como especificado. Não se esqueça de usar encapsulação.

In [5]:
class Time():
    
    def __init__(self,h=0,m=0,s=0):
        self._horas = h
        self._minutos = m
        self._segundos = s
        
    def tick(self):
        if self._segundos + 1 < 60:
            self._segundos += 1
        else:
            self._segundos = 0
            
            if self._minutos + 1 < 60:
                self._minutos += 1
            else:
                self._minutos = 0
                
                if self._horas + 1 < 24:
                    self._horas += 1
                else:
                    self._horas = 0
    
    def get_time(self):
        return(self._horas,self._minutos,self._segundos)

In [6]:
# Código de teste. Não altere este código.
t1 = Time(22, 58, 55)
h, m, s = t1.get_time()
assert h == 22 and m == 58 and s == 55, 'test 1 failed'
t1.tick()
h, m, s = t1.get_time()
assert h == 22 and m == 58 and s == 56, 'test 2 failed'
for _ in range(4):
    t1.tick()
h, m, s = t1.get_time()
assert h == 22 and m == 59 and s == 0, 'test 3 failed'
for _ in range(59):
    t1.tick()
h, m, s = t1.get_time()
assert h == 22 and m == 59 and s == 59, 'test 4 failed'
t1.tick()
h, m, s = t1.get_time()
assert h == 23 and m == 0 and s == 0, 'test 5 failed'
for _ in range(3600):
    t1.tick()
h, m, s = t1.get_time()
assert h == 0 and m == 0 and s == 0, 'test 6 failed'
t2 = Time()
h, m, s = t2.get_time()
assert h == 0 and m == 0 and s == 0, 'test 7 failed'
for i in range(24 * 60 * 60):
    t1.tick()
    t2.tick()
    h1, m1, s1 = t1.get_time()
    h2, m2, s2 = t2.get_time()
    assert h1 == h2 and m1 == m2 and s1 == s2, f'test 8 failed at iteration {i}'

## 4

A classe abaixo é uma representação simples de uma obra de arte.

In [7]:
class Artwork:
    def __init__(self, artist, type_, name):
        self._artist = artist
        self._type = type_
        self._name = name
        
    def description(self):
        return f'{self._name} from {self._artist} ({self._type})'

Abaixo segue um exemplo de uso.

In [46]:
collection = [Artwork('Leonardo', 'painting', 'Madonna'),
              Artwork('Raphael', 'painting', 'The School of Athens'),
              Artwork('Michelangelo', 'sculpture', 'David'),
              Artwork('Vivaldi', 'concerto', 'The Four Seasons'),
              Artwork('Dante', 'poem', 'The Divine Comedy')]

for piece in collection:
    print(piece.description())

Madonna from Leonardo (painting)
The School of Athens from Raphael (painting)
David from Michelangelo (sculpture)
The Four Seasons from Vivaldi (concerto)
The Divine Comedy from Dante (poem)

Você deve implementar abaixo a classe `ValuableArtwork`, que vai ser derivada de `Artwork` mas acrescenta informação sobre seu valor de compra (fornecido na criação do objeto com um parâmetro adicional ao nome do artista, tipo e nome da peça) e um método `value()` que retorna esse valor.

Veja exemplos de uso no código de teste.

In [8]:
# Implemente nesta célula a classe ValuableArtwork
class ValuableArtwork(Artwork):
        def __init__(self, artist, type_, name, value):
            self._artist = artist
            self._type = type_
            self._name = name
            self._value = value
    
        def value(self):
            return self._value

In [9]:
# Este é código de teste. Não altere esta célula.
valcoll = [ValuableArtwork('Leonardo', 'painting', 'Madonna', 1_000_000_000),
           ValuableArtwork('Leonardo', 'painting', 'Salvator Mundi', 500_000_000),
           ValuableArtwork('Rembrandt', 'painting', 'The Standard Bearer', 200_000_000)]
for piece in valcoll:
    print(f'{piece.description()} has value {piece.value()}')

Madonna from Leonardo (painting) has value 1000000000
Salvator Mundi from Leonardo (painting) has value 500000000
The Standard Bearer from Rembrandt (painting) has value 200000000